



body {
    font-family: Georgia, serif; 
    text-align: center; 
    margin: 0%;
    padding: 10px 20px;
}

a {
text-decoration: none;
text-align: center;
padding: 10px 20px;
color: #080101

}

li a:hover{
  background-color: rgb(157, 115, 166);
  border-radius: 10px;
  overflow: hidden;
 
}
.button {
    display: inline-block; 
    padding: 10px 20px; 
    background-color: #bd92cf; 
    color: #fff; 
    text-decoration: none; 
    border: none; 
    border-radius: 5px;
    font-family: Georgia, serif; 
    font-size: 16px; 
    width: 150px;
    height: 15px;
}

.button:hover {
    background-color: #ca64dc; 
}
nav {
    justify-content: center;
    align-items: center;
   display: flex;
    
  }
  
  nav ul {
    list-style: none;
  
    
  }
  
  nav ul li {
    margin: 10px;
    display:inline
    
  }
  
  a.headerText {
  text-decoration: none;
  text-align: center;
  padding: 10px 5px;
  color: #080101;
  }
  
  li a.headerText:hover{
    background-color: rgb(162, 89, 178);
    border-radius: 15px;
    overflow: hidden;
   
  }
  header {
    background-color: #c9adce;
  padding: 5px;
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
  }
  
  footer {
    background-color: #b6a4c1;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    
    
  }